* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  min-width: 100%;
  background-color: rgb(31, 31, 31);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-container {
  width: 500px;
  height: 90vh;
  overflow-y: auto;
  padding: 30px 10px;
  border-radius: 10px;
  background-color: white;
}

.search-container h2 {
  padding-bottom: 20px;
  text-align: center;
  color: #272727;
}

.input-container {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.input-container input {
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f3f3f3;
}

.input-container input:focus {
  outline: 1px solid #bebebe;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.card {
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 100%;
}
